 <div class="navbar">
    <a href="/login"><button>Login</button></a>
    <a href="/signup"><button>Signup</button></a>
<a href="/logout"><button>logout</button></a>
<a href="/new-post"><button>New Post</button></a>
<a href="/"><button>Home</button></a>
    </div>
<h1>hey welcome to your profile, {{user.username}}</h1>
<h2>this is totally your profile picture </h2>
<img src="{{user.image}}" alt="whoops i hope you cant see me" width="400px">
