<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar">
    <a href="/login"><button>Login</button></a>
    <a href="/signup"><button>Signup</button></a>
<a href="/logout"><button>logout</button></a>
<a href="/new-post"><button>New Post</button></a>
<a href="/profile"><button>Profile</button></a>
    </div>
    <h1>Welcome to IronTumblr</h1>
  </body>
</html>
